<a href="https://colab.research.google.com/github/Akshay-136/AI_ML/blob/master/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas Dataframe
import pandas as pd
import numpy as np

In [ ]:
#creating 2 series
s1=pd.Series(np.random.rand(5))
s2=pd.Series(np.random.rand(5))
print(s1,s2)

0    0.978547
1    0.735626
2    0.869387
3    0.606888
4    0.074733
dtype: float64 0    0.493327
1    0.360204
2    0.597317
3    0.521166
4    0.200822
dtype: float64

In [ ]:
#creating dataframe with series
df = pd.DataFrame([s1,s2])
df

          0         1         2         3         4
0  0.978547  0.735626  0.869387  0.606888  0.074733
1  0.493327  0.360204  0.597317  0.521166  0.200822

In [ ]:
# turning all the rows (observations) into columns(features) and vice-versa
df.T

          0         1
0  0.978547  0.493327
1  0.735626  0.360204
2  0.869387  0.597317
3  0.606888  0.521166
4  0.074733  0.200822

In [ ]:
df

          0         1         2         3         4
0  0.978547  0.735626  0.869387  0.606888  0.074733
1  0.493327  0.360204  0.597317  0.521166  0.200822

In [ ]:
df=df.T
#transpose

In [ ]:
df

          0         1
0  0.978547  0.493327
1  0.735626  0.360204
2  0.869387  0.597317
3  0.606888  0.521166
4  0.074733  0.200822

In [ ]:
df.columns=['s1','s2'] #change column name after creating dataframe
#rows are called observation and columns are called features

In [ ]:
df

         s1        s2
0  0.978547  0.493327
1  0.735626  0.360204
2  0.869387  0.597317
3  0.606888  0.521166
4  0.074733  0.200822

In [ ]:
#creating dictionary
d={'Name':['Hari','Srikanth','Saumya'],
   'Gender':['M','M','F']}
d

{'Name': ['Hari', 'Srikanth', 'Saumya'], 'Gender': ['M', 'M', 'F']}

In [ ]:
df= pd.DataFrame(d)
df

       Name Gender
0      Hari      M
1  Srikanth      M
2    Saumya      F

In [ ]:
#adding a column
df['organization']=['TCS' , 'Wipro' , 'infosys']

In [ ]:
df

       Name Gender organization
0      Hari      M          TCS
1  Srikanth      M        Wipro
2    Saumya      F      infosys

In [52]:

df['Ages']=[np.nan,29,34]

In [ ]:
df

       Name Gender organization Ages
0      Hari      M          TCS  NaN
1  Srikanth      M        Wipro   29
2    Saumya      F      infosys   34

In [ ]:
df['invalid']=[2,4,8]
df

       Name Gender organization Ages  invalid
0      Hari      M          TCS  NaN        2
1  Srikanth      M        Wipro   29        4
2    Saumya      F      infosys   34        8

In [ ]:
#drop a column / remove unwanted column
df=df.drop(['invalid'],axis=1) #axis is used  as 0 for row and 1 is used for column
df

       Name Gender organization Ages
0      Hari      M          TCS  NaN
1  Srikanth      M        Wipro   29
2    Saumya      F      infosys   34

In [ ]:
#Location (loc) nd index location(iloc)
#syntax ----->>>> loc[:,:] & iloc[:,:]        [:,:]==>[inital row: targeted row , column:targeted column]

In [ ]:
df.loc[0:1,'Name':'Gender']

       Name Gender
0      Hari      M
1  Srikanth      M

In [ ]:
df.iloc[0:2,0:3] #starting value will be as index

       Name Gender organization
0      Hari      M          TCS
1  Srikanth      M        Wipro

In [ ]:
#adding a row
df.loc[3]=['shivam','M',np.nan,25]

In [ ]:
df

       Name Gender organization Ages
0      Hari      M          TCS  NaN
1  Srikanth      M        Wipro   29
2    Saumya      F      infosys   34
3    shivam      M          NaN   25

In [ ]:
#removing a row (3rd)
df.drop([3],axis=0)

       Name Gender organization Ages
0      Hari      M          TCS  NaN
1  Srikanth      M        Wipro   29
2    Saumya      F      infosys   34

In [ ]:
#finding null values
df.isnull()

    Name  Gender  organization   Ages
0  False   False         False   True
1  False   False         False  False
2  False   False         False  False
3  False   False          True  False

In [ ]:
df.isnull().sum() #it tells how much NaN present in the each column

Name            0
Gender          0
organization    1
Ages            1
dtype: int64

In [ ]:
type(df['Name'])

pandas.core.series.Series

In [ ]:
#calling specific column

df['Ages']

0    NaN
1     29
2     34
3     25
Name: Ages, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4 non-null      object
 1   Gender        4 non-null      object
 2   organization  3 non-null      object
 3   Ages          3 non-null      object
dtypes: object(4)
memory usage: 332.0+ bytes

In [55]:
#descriptive stat
df['Ages'].describe()

count      3
unique     3
top       29
freq       1
Name: Ages, dtype: object

In [57]:
df.describe(include='all')

        Name Gender organization Ages
count      4      4            3    3
unique     4      2            3    3
top     Hari      M          TCS   29
freq       1      3            1    1

In [58]:
df['Ages'].dtype

dtype('O')